In [1]:
import numpy as np
import pandas as pd

In [2]:
url="https://en.wikipedia.org/wiki/World_population"
tables=pd.read_html(url)
tables[0]

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1927,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",123,33,14,13,12,12,11,15,20

In [3]:
tables[4]

,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations)
0,India,1425775850,17.6%,14 Apr 2023,UN projection[90]
1,China,1409670000,17.4%,17 Jan 2024,National annual estimate[91]
2,United States,336789280,4.15%,12 Aug 2024,National population clock[92]
3,Indonesia,278696200,3.43%,1 Jul 2023,National annual estimate[93]
4,Pakistan,229488994,2.82%,1 Jul 2022,UN projection[94]
5,Nigeria,216746934,2.67%,1 Jul 2022,UN projection[94]
6,Brazil,218027821,2.68%,12 Aug 2024,National population clock[95]
7,Bangladesh,168220000,2.07%,1 Jul 2020,Annual Population Estimate[96]
8,Russia,147190000,1.81%,1 Oct 2021,2021 preliminary census results[97]
9,Mexico,128271248,1.58%,31 Mar 2022,NaN

In [ ]:
df2.head(10)

In [ ]:
df1.set_index('ITEM_NAME')
df2.set_index('ITEM_NAME')

In [ ]:
import pandas as pd

# Create an empty DataFrame to store the differences
diff_df = pd.DataFrame(columns=df1.columns)

# Get the common index values between df1 and df2
common_index = df1.index.intersection(df2.index)

# Iterate over the common index values and compare values
for idx in common_index:
    if df1.loc[idx].equals(df2.loc[idx]):
        pass  # Rows match, do nothing
    else:
        diff_df = diff_df.append(df1.loc[idx])

print("Differences:")
print(diff_df)